<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Blank Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />
    <link href="~/Assets/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Assets/admin/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/bower_components/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/admin/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Assets/admin/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/Style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini " ng-app="webbanhang" ng-controller="rootController">
    <div ui-view></div>
    <!-- Site wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- SlimScroll -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/admin/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/admin/js/demo.js"></script>
    <!--AngularJS-->
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/bower_components/toastr/toastr.js"></script>
    <script src="~/bower_components/bootbox/src/bootbox.js"></script>
    <script src="~/bower_components/ngBootbox/ngBootbox.js"></script>
    <script src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/admin/ckfinder/ckfinder.js"></script>
    <script src="~/bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="~/app/shared/modules/webbanhang.common.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/filters/stateFilter.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/components/category_parents/categoryParents.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationSerivce.js"></script>
    <script src="~/app/components/category_parents/categoryParentListController.js"></script>
    <script src="~/app/components/category_parents/categoryParentAddController.js"></script>
    <script src="~/app/components/category_parents/categoryParentEditController.js"></script>
    <script src="~/app/components/category_childs/categoryChilds.module.js"></script>
    <script src="~/app/components/category_childs/categoryChildListController.js"></script>
    <script src="~/app/components/category_childs/categoryChildAddController.js"></script>
    <script src="~/app/components/category_childs/categoryChildEditController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/components/products/productAddController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/products/productEditController.js"></script>
    <script src="~/app/components/customers/customers.module.js"></script>
    <script src="~/app/components/customers/customerListController.js"></script>
    <script src="~/app/components/customers/customerEditController.js"></script>
    <script src="~/app/components/customers/customerAddController.js"></script>
    <script src="~/app/components/employees/employees.module.js"></script>
    <script src="~/app/components/employees/employeeListController.js"></script>
    <script src="~/app/components/employees/employeeEditController.js"></script>
    <script src="~/app/components/employees/employeeAddController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/users/users.module.js"></script>
    <script src="~/app/components/users/userListController.js"></script>
    <script src="~/app/components/users/userEditController.js"></script>
    <script src="~/app/components/users/userAddController.js"></script>
    <script src="~/app/components/orders/orders.module.js"></script>
    <script src="~/app/components/orders/orderListController.js"></script>
    <script src="~/app/components/orders/orderEditController.js"></script>
    <script src="~/app/components/orders/orderAddController.js"></script>

    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })</script>
</body>
</html>
