<section class="content-header">
    <h1>
        Thêm mới người dùng
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a ui-sref="users"> Quản lý người dùng</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddUser" role="form" ng-submit="AddUser()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên người dùng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="fullName" ng-model="user.FullName" placeholder="">
                        <span ng-show="frmAddUser.fullName.$invalid" class="input-error">Phải nhập tên người dùng</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Ngày sinh</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="birthday" ng-model="user.Birthday" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Số điện thoại</label>
                    <div class="col-sm-10">
                        <input type="datetime" class="form-control" name="phone" ng-model="user.PhoneNumber" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" ng-model="user.Email" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" ng-model="user.Image" placeholder="">
                        <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên đăng nhập</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="username" ng-model="user.UserName" placeholder="">
                        <span ng-show="frmAddUser.username.$invalid" class="input-error">Phải nhập tên đăng nhập</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="password" ng-model="user.Password" placeholder="">
                        <span ng-show="frmAddUser.password.$invalid" class="input-error">Phải nhập mật khẩu</span>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="users" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddUser.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->